.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h2, h3, h4 {
    margin-top: 0px;
}

img {
    height: 100%;  
}

@media print {
  footer {
    display: none;
  }
}