#banner {
    display: flex;
    flex-direction: column;
    background: linear-gradient(125deg, rgb(64, 201, 255, .8) 0%, rgb(64, 201, 255, .8) 70%, rgba(255, 255, 255, 0) 71%);
}

#menu {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-right: 40px;
    padding-left: 40px;
    background-color: rgba(67, 143, 143, 0.911);
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#siteTitle {
    display: flex;
    margin-left: 10px;
}

/* @container title (width>500px) { */
    #headShot{
        height: 120px;
        margin-bottom: -50px;
    }
/* } */
