:root {
    --form-element-width: 300px
}

.formRoot {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


form {
    display: grid;
    grid-auto-columns: 1fr;
}

label {
    width: 100px;
    display: block;
    float: left;
    text-align: left;
}

textarea {
  resize: none;
}

.formElementWidth  {
    width: var(--form-element-width);
    &.checkboxContainer  {
        margin-left: 100px;
        text-align: left;
        input {
            margin-left: 0;
        }
    }
}

select.formElementWidth {
    width: calc(var(--form-element-width) + 8px)
}

@media screen and (width<450px) {
    .formElementWidth{
        width: calc(100% - 10px);
        &.checkboxContainer {
            margin-left: 70px;
        }
    }

    select.formElementWidth {
        width: calc(100%);
    }

    label {
        width: 70px
    }
}


.error {
    color: rgb(55, 13, 13);
    &::before {
        content: 'âŒ';
    }
}

.response, .formRoot section {
    border: 1px solid black;
    width: fit-content;
    padding: 5px;
    margin: 5px;
    background-color: rgb(132, 166, 230);
    border-radius: 5px;
    box-shadow: 5px 5px black;
}

.links {
    list-style: none;
    padding-left: 0;
    img {
        height: 20px;
        vertical-align:middle;
        margin-right: 5px;
    }
}