.formRoot {
    background-color: cornflowerblue;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 100px;
    display: block;
    float: left;
    text-align: left;
}

textarea {
  resize: none;
}

textarea, input {
    width: 300px
}

.error {
    color: red
}