.squareHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    gap: 10px;
    margin: auto;

    > div {
        width: 100px;
        height: 100px;
        transition: 0.3s;
        box-sizing: border-box;
        border-radius: 5px;
    }
}

.gameHolder {
    border : 1px solid black;
    width: fit-content;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    background-color: thistle;

    menu {
        display: flex;
        padding: 0;
        list-style: none;
        justify-content: space-between;
    }

    button {
        background-color: #dd90e0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        height: 30px;
        padding: 10px;
        text-decoration: none;
        color:black;
        transition: 0.3s;
        height: fit-content;
        margin: 3px;
    }

    button:hover {
        background-color: rgb(160, 95, 153);
    }

    button:active {
        background-color: #dd90e0;
    }
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#blue {
    background-color: blue;
}

#orange {
    background-color: orange;
}

#white {
    background-color: white;
}

#purple {
    background-color: purple;
}

#grey {
    background-color:grey
}

.current {
    border: 5px solid black;
}

.hint {
    border: 10px solid rgb(200, 118, 205);
}

.background {
    height: 100%;
    min-height: fit-content;
    background-color: wheat;
}

.colorNameForNoCSS {
    display: none;
}

.capitalize {
    text-transform: capitalize;
}