.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 5px;
}

.section {
    border: 1px solid black;
    border-radius: 5px;
    background-color:rgb(132, 179, 227)
}

.wrapper {
    height: 100%;
    background-color: aquamarine;
    padding: 0 5px;
}

@media screen and (width<500px) {
    .grid {
        grid-template-columns: 1fr ;
    }
}