.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 5px;
}

.section {
    border: 1px solid black;
    border-radius: 5px;
    background-color:rgb(138, 197, 177);
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        height: 50px;
        width: unset;
    }
}

.wrapper {
    min-height: 100%;
    background-color: rgb(168, 243, 218);
    padding: 0 5px;
}

@media screen and (width<500px) {
    .grid {
        grid-template-columns: 1fr ;
    }
}