
.root{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(251, 220, 181);

    > .section {
        margin-left: 5px;
        margin-right: 5px;
    }
}

#gamesRan {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-left:5px;
    padding-right:5px;
}

.section{
    border: 1px solid black;
    padding: 5px;
    background-color: rgb(254, 233, 207);
    img {
        float:left
    }
    p {
        text-align: left;
    }
}


@media screen and (max-width: 820px) {
    #gamesRan{
        grid-template-columns: 1fr;
    }

    .section img{ 
        float:none; 
        width: 100%
    }
}


