
.root{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(251, 220, 181);

    .section {
        margin-left: 5px;
        margin-right: 5px;
    }
}

#gamesRan {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-left:5px;
    padding-right:5px;

    .section {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.section{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(254, 233, 207);

    &.first {
        margin-top: 0;
        padding-top: 0px;
    }

    img {
        float:left
    }
    p {
        text-align: left;
    }
}

.section:after {
    content: '';
    display: block;
    clear: both;
}

@media screen and (max-width: 820px) {
    #gamesRan{
        grid-template-columns: 1fr;
    }

    .section img{ 
        float:none; 
        width: 100%
    }
}


