.section {
    border: 1px solid black;
    text-align: left;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

#resume {
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 138, 154);
    padding: 0px 5px 5px 5px;

    button {
      background-color: rgb(217, 173, 173);
      &:hover {
          background-color: rgb(175, 108, 108);
      }
    }

    img {
      height: 20px;
      vertical-align: middle;
      margin-right: 5px;
    }
}

.noCSSWarning {
    display: none;
}

@media print {
  #resume {
    background-color: revert-layer;
  }

  button {
    display: none;
  }
}