.section {
    border: 1px solid black;
    text-align: left;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}

#resume {
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 138, 154);
    padding: 5px;
}

@media print {
  #resume {
    background-color: revert-layer;
  }

  button {
    display: none;
  }
}