.section {
    border: 1px solid black;
    text-align: left;
    border-radius: 5px;
    padding: 5px;
}

#resume {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(220, 138, 154);
    padding: 5px;
}