.background {
    background-color: aliceblue;

    a {
        word-break:break-all;
    }
}

.weatherList {
    display: grid;
    gap: 5px;
    grid-auto-rows: 1fr;
    margin: 10px;
}

.day {
    display: grid;
    grid-template-columns: .25fr 1fr;
    border: 1px solid black;
    background-color: rgb(214, 220, 226);
    border-radius: 5px;
    padding: 10px;
    h3 {
        margin-top: 0;
    }
}



.icon {
    order: 1; /*So looks nice without CSS*/
    img {
        height: 100px;
    }
}

.dayInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 10px;
    order: 2;
}

@media screen and (width<400px) {
    .weatherList {
    grid-auto-rows: unset;
}
    
}

